@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    *,
    ::before,
    ::after {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
    }

    html,
    body {
        @apply antialiased text-slate-900 bg-slate-50;
        overflow-x: hidden;
        width: 100%;
        max-width: 100%;
        position: relative;
        margin: 0;
        padding: 0;
        height: auto;
        min-height: 100%;
        scroll-behavior: smooth;
    }

    /* Prevent text selection on interactive elements for an app-like feel */
    button,
    a,
    .cursor-pointer {
        @apply select-none;
    }

    section[id] {
        scroll-margin-top: 80px;
    }

    /* Premium Scrollbar */
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #cbd5e1;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #94a3b8;
    }
}

@layer utilities {
    .pb-safe {
        padding-bottom: env(safe-area-inset-bottom);
    }

    .pt-safe {
        padding-top: env(safe-area-inset-top);
    }
}

@layer components {
    .btn-primary {
        @apply px-8 py-4 bg-blue-900 text-white font-bold rounded-2xl transition-all hover:bg-blue-800 active:scale-95 flex items-center justify-center;
    }
}