@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    *,
    ::before,
    ::after {
        box-sizing: border-box;
    }

    html,
    body {
        @apply antialiased text-slate-900;
        overflow-x: hidden !important;
        width: 100%;
        max-width: 100% !important;
        position: relative;
        margin: 0;
        padding: 0;
    }

    html {
        scroll-behavior: smooth;
    }

    /* Custom Premium Scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
        background: #0d4174;
        border-radius: 20px;
        border: 2px solid #f8fafc;
        z-index: 1000;
    }

    ::-webkit-scrollbar-track {
        background: #f8fafc;
        /* slate-50 */
    }

    ::-webkit-scrollbar-thumb {
        background: #cbd5e1;
        /* slate-300 */
        border-radius: 20px;
        border: 2px solid #f8fafc;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #94a3b8;
        /* slate-400 */
    }
}

@layer components {
    .btn-primary {
        @apply px-6 py-3 bg-blue-900 text-white font-bold rounded-xl transition-all hover:bg-blue-800 active:scale-95;
    }
}